
body{
  background-color: rgb(7,55,99);
}


.ss-form-container, .ss-resp-card {
  background-color: rgb(255,255,255);
}

  .ss-form-desc, .ss-no-ignore-whitespace{
text-align: center;}

.ss-form-title {
  text-align: center;
}

.ss-form-title[dir="rtl"] {
  text-align: center;
}

.ss-header-image-image {
  background-image: url('http://hon.garena.ru/images/walls/Flux.jpg');
}

.ss-header-image-sizer {
  padding-top: 11.200%;
}

body {
  font-family: "Helvetica";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}



form{
  font-family: "Helvetica";
  width:25%;
  margin:20px;
  padding: 20px;
}
label{
  font-size: 20px;
  display: block;
  width:100%;
}
input, textarea{
  margin-bottom: 20px;
  width:100%;
  padding: 10px;
  box-sizing:border-box;
  border:1px solid#ccc;
}
input:focus, textarea:focus{
  border:1px solid #1668C4;
}
textarea{
  resize:vertical;
  max-height: 300px;
  min-height: 100px;
}
input[type="submit"]{
  margin-bottom: 0;
  background: #1668C4;
  color:#fff;
  border: none;
}
input[type="submit"]:hover{
  background: #1668F4;
  cursor: pointer;
}